ul {
    list-style: none;
    font-size: 20px;
}

aside {
    height: 800px;
    width: 300px;
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conteneur {
    display: flex;
    height: 800px;
    width: 1600px;
}

#produit {
    display: flex;
    width: 1300px;
    height: 800px;
}

#newl {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 800px;
    background-image: url(img/image_accueil.jpg);
    background-size: cover;
    width: 50%;
}

#modelnew {
    height: 800px;
    background-size: cover;
    background-image: url(img/image_accueil2.png);
    width: 50%;
}

#paccueil {
    padding-bottom: 50px;
    font-size: 20px;
}

footer {
    height: 200px;
    background-color: #777;
    width: 1600px;
}